.dashBackground{
    background: linear-gradient(90deg, #2193B0 0%, #5ec1d7 41.15%);
}
.mainText{
    color: white;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainItem{
    display: flex;
    align-items: center;
    justify-content: center;
}