.footerBackground {
    height: 566px;

    background: #19B4BC;
}

.logoTxt {
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    /* identical to box height */


    color: #FFFFFF;
}

.logoPera {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;

    color: #FFFFFF;

}
.footerTlt{
    font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 25px;
/* identical to box height */


color: #FFFFFF;

}
.footerPera{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    
    
    color: #FFFFFF;
    
}